In [23]:
# Data Aggregation function (sum , min, max, std, mean,describe ,count)
import pandas as pd
import numpy as np

data=pd.read_csv('fun.csv')
data

  Category  Value
0        A     10
1        A     15
2        B     20
3        B     25
4        A     35
5        B     40

In [24]:
data=data.groupby('Category')

In [27]:
print('sum : \n',data.sum())
print('min : \n',data.min())
print('max : \n',data.max())
print('mean : \n',data.mean())
print('count : \n',data.count())
print('std : \n',data.std())
print('describe : \n',data.describe())

sum :
           Value
Category
A            60
B            85
min :
           Value
Category
A            10
B            20
max :
           Value
Category
A            35
B            40
mean :
               Value
Category
A         20.000000
B         28.333333
count :
           Value
Category
A             3
B             3
std :
               Value
Category
A         13.228757
B         10.408330
describe :
          Value
         count       mean        std   min   25%   50%   75%   max
Category
A          3.0  20.000000  13.228757  10.0  12.5  15.0  25.0  35.0
B          3.0  28.333333  10.408330  20.0  22.5  25.0  32.5  40.0