In [13]:
import pandas as pd
data={'corporation':['YAHOO','YAHOO','MSFT','MSFT','GOOGLE','GOOGLE'],
      'person':['Sanjay','Chetan','Smiti','Anjali','Shaliendra','Jagrati'],
      'sales_in_USD':[100,140,540,670,240,551]}
df=pd.DataFrame(data)
print(df)

  corporation      person  sales_in_USD
0       YAHOO      Sanjay           100
1       YAHOO      Chetan           140
2        MSFT       Smiti           540
3        MSFT      Anjali           670
4      GOOGLE  Shaliendra           240
5      GOOGLE     Jagrati           551

In [14]:
group_data=df.groupby('corporation')
group_data

In [15]:
print("Sum():==>")
print(group_data.sum())

print("Mean():==>")
print(group_data.mean())

print("Min():==>")
print(group_data.min())

print("Max():==>")
print(group_data.max())

print("STD():==>")
print(group_data.std())

print("Count():==>")
print(group_data.count())

print("Describe():==>")
print(group_data.describe())

Sum():==>
             sales_in_USD
corporation
GOOGLE                791
MSFT                 1210
YAHOO                 240
Mean():==>
             sales_in_USD
corporation
GOOGLE              395.5
MSFT                605.0
YAHOO               120.0
Min():==>
              person  sales_in_USD
corporation
GOOGLE       Jagrati           240
MSFT          Anjali           540
YAHOO         Chetan           100
Max():==>
                 person  sales_in_USD
corporation
GOOGLE       Shaliendra           551
MSFT              Smiti           670
YAHOO            Sanjay           140
STD():==>
             sales_in_USD
corporation
GOOGLE         219.910209
MSFT            91.923882
YAHOO           28.284271
Count():==>
             person  sales_in_USD
corporation
GOOGLE            2             2
MSFT              2             2
YAHOO             2             2
Describe():==>
            sales_in_USD                                                   \
                   count   mean         std    min     25%    50%     75%
corporation
GOOGLE               2.0  395.5  219.910209  240.0  317.75  395.5  473.25
MSFT                 2.0  605.0   91.923882  540.0  572.50  605.0  637.50
YAHOO                2.0  120.0   28.284271  100.0  110.00  120.0  130.00


               max
corporation
GOOGLE       551.0
MSFT         670.0
YAHOO        140.0

C:\Users\Sandip Sonar\AppData\Local\Temp\ipykernel_19108\3911014533.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(group_data.sum())
C:\Users\Sandip Sonar\AppData\Local\Temp\ipykernel_19108\3911014533.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(group_data.mean())
C:\Users\Sandip Sonar\AppData\Local\Temp\ipykernel_19108\3911014533.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(group_data.std())